<section>
  <template class="counter-template">
    <div class="counter-container">
      <button type="button" class="button-decrease amount-buttons">-</button>
      <input
        class="input-value"
        type="text"
        value="1"
        data-price="1000"
        maxlength="4"
        disabled
      />
      <button type="button" class="button-increase amount-buttons">+</button>
    </div>
  </template>
</section>
