    <footer>
      <div class="wrapper">
        <div class="social">
          <a href="">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png"
              alt=""
          /></a>
          <a href=""
            ><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Vk_Logo.svg/1024px-Vk_Logo.svg.png"
              alt=""
          /></a>
          <a href=""
            ><img
              src="https://www.facebook.com/images/fb_icon_325x325.png"
              alt=""
          /></a>
        </div>
      </div>
    </footer>
  </div>

  <script src="button.js"></script>  
  </body>
</html>